extends layout

block content
  div(id='map')
  div(id='info')
    div(id="selected-cafe-container" class="cafe-container")
      h3(id="selected-name" class="cafe-name")
      div(class="photo-container")
        img(id="selected-photo")
      div(class="detail-container")
        div(class="svg phone-svg")
        p(class="cafe-detail" id="selected-phone")
      div(class="detail-container")
        div(class="svg address-svg")
        p(class="cafe-detail" id="selected-address")
      div(class="detail-container")
        div(class="svg web-svg")
        p(class="cafe-detail" id="selected-web")
      div(class="detail-container")
        div(class="svg hours-svg")
        p(class="cafe-detail") hours
        button(class="expand") &#x25BC;
        ul(id="selected-hours" class="cafe-hours")
      div(class="detail-container price-rating")
        p(class="cafe-detail" id="selected-price")
        p(class="cafe-detail" id="selected-rating")
      div(id="reviews-container")
        p(class="cafe-detail") reviews
        button(class="expand") &#x25BC;
        div(class="reviews" id="selected-reviews")
      div(class="detail-container")
      form(action="/favorites" method="post" id="cafe-form selected-form")
        input(id="cafe-name" class="hidden" type="text" name="name")
        input(id="cafe-address" class="hidden" type="text" name="address")
        input(id="cafe-phone" class="hidden" type="text" name="phone")
        input(id="cafe-web" class="hidden" type="text" name="website")
        input(id="cafe-price" class="hidden" type="text" name="price_level")
        input(id="cafe-rating" class="hidden" type="text" name="rating")
        input(id="cafe-monday" class="hidden" type="text" name="monday")
        input(id="cafe-tuesday" class="hidden" type="text" name="tuesday")
        input(id="cafe-wednesday" class="hidden" type="text" name="wednesday")
        input(id="cafe-thursday" class="hidden" type="text" name="thursday")
        input(id="cafe-friday" class="hidden" type="text" name="friday")
        input(id="cafe-saturday" class="hidden" type="text" name="saturday")
        input(id="cafe-sunday" class="hidden" type="text" name="sunday")
        input(id="cafe-submit" class="add-fav pink-hvr" type="submit" value="add to favorites")
    div(class="best-cafes")
      h2(class="best-cafes-title") Cafe Suggestions for #{city}
      each cafe in bestCafes
        div(class="cafe-container")
          h3(class="cafe-name") #{cafe.name}
          div(class="detail-container")
            if cafe.formatted_phone_number
              div(class="svg phone-svg")
              p(class="cafe-detail") #{cafe.formatted_phone_number}
          div(class="detail-container")
            if cafe.formatted_address
              div(class="svg address-svg")
              p(class="cafe-detail") #{cafe.formatted_address}
          div(class="detail-container")
            if cafe.website
              div(class="svg web-svg")
              p(class="cafe-detail") #{cafe.website}
          div(class="detail-container")
            div(class="svg hours-svg")
            p(class="cafe-detail") hours
            button(class="expand") &#x25BC;
            ul(class="cafe-hours")
              each day in schedules[0].weekday_text
                li #{day}
          div(class="detail-container price-rating")
            if cafe.price_level
              p(class="cafe-detail") price level: #{cafe.price_level}
            if cafe.rating
              p(class="cafe-detail") rating: #{cafe.rating}
          div(id="reviews-container")
            if cafe.reviews
              p(class="cafe-detail") reviews
              button(class="expand") &#x25BC;
              div(class="reviews")
                each review in cafe.reviews
                  p "#{review.text}"
          form(action="/favorites" method="post" class="cafe-form sug-form")
            input(id="cafe-name" class="hidden" type="text" name="name" value=cafe.name)
            input(id="cafe-address" class="hidden" type="text" name="address" value=cafe.formatted_address)
            input(id="cafe-phone" class="hidden" type="text" name="phone" value=cafe.formatted_phone_number)
            input(id="cafe-web" class="hidden" type="text" name="website" value=cafe.website)
            input(id="cafe-price" class="hidden" type="text" name="price_level" value=cafe.price_level)
            input(id="cafe-rating" class="hidden" type="text" name="rating" value=cafe.rating)
            input(id="cafe-monday" class="hidden" type="text" name="monday" value=schedules[0].weekday_text[0])
            input(id="cafe-tuesday" class="hidden" type="text" name="tuesday" value=schedules[0].weekday_text[1])
            input(id="cafe-wednesday" class="hidden" type="text" name="wednesday" value=schedules[0].weekday_text[2])
            input(id="cafe-thursday" class="hidden" type="text" name="thursday" value=schedules[0].weekday_text[3])
            input(id="cafe-friday" class="hidden" type="text" name="friday" value=schedules[0].weekday_text[4])
            input(id="cafe-saturday" class="hidden" type="text" name="saturday" value=schedules[0].weekday_text[5])
            input(id="cafe-sunday" class="hidden" type="text" name="sunday" value=schedules[0].weekday_text[6])
            input(id="cafe-submit" class="add-fav pink-hvr" type="submit" value="add to favorites")
  div(class="hidden")
    p(id="city-input" class="hidden") #{city}
